@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    800 West CoolGuy Way<br />
    Orem, UT 84048<br />
    <abbr title="Phone">P:</abbr>
    801.380.5401
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:10573959@uvlink.uvu.edu">10573959@uvlink.uvu.edu</a><br />
</address>